<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Ace Editor sample</title>
    <link rel="stylesheet" type="text/css" href="./public/stylesheets/main.css">
    <!--ace-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
    <!--自動補完を使うから追加でext-language_tools.jsを読み込む-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>
    <!--emmet読み込み-->
    <script src="https://cloud9ide.github.io/emmet-core/emmet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-emmet.js"></script>
    <!--js sha-2 js 読み込み-->
    <script src="./public/assets/jsSHA-master/src/sha256.js"></script>
    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 本番バージョン、サイズと速度のために最適化されています -->
    <!--script src="https://cdn.jsdelivr.net/npm/vue"></script-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!---->
  </head>
  <body>
    <div id="index">
      <div v-if="display" class="layout">


        <div class="table">
          <div class="user-data">
            <table class="useer-data-t" height="30">
              <tr>
                <td><p>{{ name }}</p></td>
                <td><button v-on:click="button_logout" class="button8">logout</button></td>
              </tr>
            </table>
          </div>
          <!-- ターミナルとエディター間をリサイズ-->
          <table width="100%" height="100%" class="layout-table-editor">
            <tr class="table-u">
              <td rowspan=2 class="file_tree">ファイル構成 tree</td><td class="terminal-editor"><!--div id="editor"></div--></td>
            </tr>
            <tr class="table-d">
              <td>ターミナル</td>
            </tr>
          </table>
        </div>
      </div>
      <div v-else>
        <center><h1>Prease login</h1></center>
        <a href="sign_in.html">既にアカウントのお持ちの方</a><br>
        <a href="sign_up.html">新規登録</a>
      </div>
    </div>

    <script>
      //Vue
      var view_index= new Vue({
        el: "#index",
        data: {
          display:false,
          name:""
        },
        methods: {
          button_logout() {
            window.sessionStorage.clear();
            window.location = "sign_in.html";
          }
        },
        mounted: function () {
          this.$nextTick(function () {
            // ビュー全体がレンダリングされた後にのみ実行されるコード
            var mail = window.sessionStorage.getItem(["key_mail"]);
            var u_id = window.sessionStorage.getItem(["key_id"]);
            console.log(mail);
            console.log(u_id);

            axios.post('http://localhost:4567/check_id', JSON.stringify({
              mail: mail,
              u_id: u_id,
            }))
              .then(function (response) {
                // window.sessionStorage.setItem(["key_mail"],[response.data.mail]);
                //window.sessionStorage.setItem(["key_id"],[response.data.u_id]);
                if(response.status = 201){
                  console.log(response);
                  view_index.display = true;
                  view_index.name = response.data.name;
                }
                else{
                }
              })
              .catch(function (error) {
              });
          })
        }
      })
    </script>
    <!--script>
      var editor = ace.edit("editor");
//コンソール警告
editor.$blockScrolling = Infinity;
//折り返し
editor.getSession().setUseWrapMode(true);
//タブ幅=2
editor.getSession().setTabSize(2);
//自動補完、スニペット、ライブ補完を有効
editor.setOptions({
  enableBasicAutocompletion: true,
  enableSnippets: true,
  enableLiveAutocompletion: true
});
//テーマ指定
editor.setTheme("ace/theme/monokai");
//emmet
editor.setOptions({
  enableEmmet: true
});

//補完言語
editor.getSession().setMode("ace/mode/ruby");
//editor.getSession().setMode("ace/mode/javascript");
//editor.getSession().setMode("ace/mode/html");
//editor.getSession().setMode("ace/mode/python");
//editor.getSession().setMode("ace/mode/java");
//editor.getSession().setMode("ace/mode/c_cpp");
    </script-->
 
  </body>
</html>

