html {
  height:100%;
  width: 100%;
  margin: 0;
}
body {
  height:100%;
  width: 100%;
  margin: 0;
}
p{
  margin: 0;
}

div#index{
  height:100%;
  width: 100%;
}
div.layout{
  height:100%;
  width: 100%;
}

/*User_Data--------------------------------------*/
div.user-data{
  height: 30px;
  display: flex;
}
table.useer-data-t{
  height: 30px;
  width: 100%;
}
/*User_Data--------------------------------------*/

div.table{
  height: 100%;
  width 100%;
}
table.layout-table-editor {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}
table th, table td {
  border: solid 1px black;
}
td.file_tree{
  width: 200px;
}
td.terminal-editor{
}
table tr.table-u{
  height:70%;
}
table tr.table-d{
  height:30%;
}

div#editor{
  height: 100%;
  width: 100%;
}
button.button8 {
  font-size: 1em;

}
